/*
This file specifies 18F guidelines for the MDIVE landing page
It adjusts the outline color of boxes, dashboard sidebar color,
hover color for dashboard navigation, etc. It is similar to the file
used in the QR Dashboard and contains some specifications that will only
be necessary if we start using submenus in the MDIVE landing page
*/

/****************************** Navbar/Top Header ******************************/
  /* Header background color for logo and text formatting */
  .main-header .logo {
                background-color: #1c304a !important;
                color:white !important;
                height: 70px;
                font-size: 30px;
                font-weight: 500;
                padding-top: 10px;
                border:0 !important;
            }

  .main-header .logo:hover {
                background-color: #f4b943;
            }

   /* navbar (rest of the header) */
  .main-header .navbar {
                background-color: #1c304a !important;
                color:white !important;
                height: 70px;
           }

    /* Sidebar toggle button - 18F white */
  .main-header .navbar .sidebar-toggle{
              color: white !important;
              border:0 !important;
              padding-top: 30px;
          }

   /* Sidebar toggle button when hovered - 18Fmedium blue hover */
  .main-header .navbar .sidebar-toggle:hover{
              color: white !important;
              background-color:#034c6d !important;
              border:0;
          }

     /* header button - 18F Dark */
  .btn-18f-header {
    background: none;
    color:white;
    padding-top:30px;
    margin-right:40px;
    border: none;
    touch-action: manipulation;
  }

    .btn-header-lessmarg {
    background: none;
    color:white;
    padding-top:10px;
    border: none;
    touch-action: manipulation;
  }
    .btn-header-lessmarg:hover {
    background: none;
    color:white;
    padding-top:10px;
    border: none;
    touch-action: manipulation;
  }



    .btn-18f-header:hover {
    background: none;
    color:white;
    padding-top:30px;
    margin-right:40px;
    border: none;
    touch-action: manipulation;
  }

/****************************** Sidebar ******************************/
  /* Sidebar background color - 18F medium blue*/
  .main-sidebar {
              background-color: #046b99 !important;
              padding-top: 70px;
          }
  /* Sidebar navigation font - 18F h2*/
   .main-sidebar .sidebar .sidebar-menu #sidebar_nav li{
            font-size: 20px;
            font-weight: 600;
          }

  /* Sidebar filters title font - 18F p*/
  .main-sidebar .sidebar .sidebar-menu .control-label {
            font-size: 14px;
            font-weight: normal;
          }

  /* Sidebar filters display font - 18F p*/
  .main-sidebar .sidebar .sidebar-menu .filter-option {
            font-size: 14px;
            font-weight: normal;
            margin-left: 10px;
          }


  /* Sidebar filters dropdown font - 18F p*/
   .main-sidebar .sidebar .sidebar-menu #sidebar_filters li{
            font-size: 14px;
           }

  /* Activate selected tab in sidebar - 18F medium blue hover */
  .main-sidebar .sidebar .sidebar-menu .active a{
            background-color: #034c6d;
          }

  /* Other links in sidebar when hovered - 18F medium blue hover */
  .main-sidebar .sidebar .sidebar-menu a:hover{
              background-color: #034c6d;
  }

    /* Treeview  - 18F medium blue*/
  .main-sidebar .sidebar .sidebar-menu .treeview-menu {
            background-color: #046b99;
            font-size:14px;
          }

    .main-sidebar .sidebar .sidebar-menu .treeview-menu .active {
            background-color: #034c6d;
            font-size:14px;
            color: white;
            font-weight: 600;

          }
  /* Treeview active - 18F medium blue*/
  .main-sidebar .sidebar .sidebar-menu .treeview li.active a {
            background-color: #034c6d !important;
            font-size:14px;
            color: white;
            font-weight: 600;
          }

  /* Treeview menu sidebar - 18F medium hover blue*/
  .main-sidebar .sidebar .sidebar-menu .treeview-menu a {
            background-color: #046b99 !important;
          }

  /* Treeview menu hover - 18F medium blue*/
  .main-sidebar .sidebar .sidebar-menu .treeview-menu a:hover {
            background-color: #034c6d !important;
          }


    /* Sidebar menu dropdown hover - 18F lightest gray */
  .main-sidebar .sidebar .sidebar-menu .dropdown{
             background-color: #f1f1f1;
             color: black !important;
          }

/*Remove arrow from sidebar */
.main-sidebar .sidebar .sidebar-menu .fa-angle-left:before {
    content: "";
}
  /* Sidebar menu dropdown hover - 18F lightest gray */
  .main-sidebar .sidebar .sidebar-menu .dropdown a:hover{
              background-color: #f1f1f1;
              color: black !important;
           }

  /* Sidebar menu dropdown active - 18F lightest gray */
  .main-sidebar .sidebar .sidebar-menu .dropdown-menu .active a{
              background-color: #f1f1f1;
              color: black !important;
           }

/****************************** Body ******************************/

  /* Backgrond color for body - 18F white */
  .content-wrapper {
    background-color: white !important;
  }
    .wrapper {
    background-color: white !important;
  }
  label{
    font-weight: 400;
  }

  /* Margins for tabs and default text set to p */
 .tab-content .tab-pane {
   padding-top: 5px;
   padding-left: 20px;
   padding-right: 10px;
   font-size: 14px;
  }


  /* Border for boxes - 18F lightest gray */
  .box.box-primary {
    margin-top: 10px;
    margin-bottom: 25px;
    border:3px solid #f1f1f1;
    border-left-width:3px;
  }

  /* Well border (in case the app calls something a well instead of box) - 18F lightest gray */
  .tab-content .tab-pane .well {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 3px solid #f1f1f1;
    padding-bottom: 5px;
  }

  /*Boxes for 'home' page*/
    .box.box-solid.box-info>.box-header {
    color:white;
    background:#046b99
}
    .box.box-solid.box-info>.box-header .box-title {
    font-size: 20px;
}

  .box.box-solid.box-info{
    background-color: #e6e6e6;
    border-bottom-color:#046b99;
    border-left-color:#046b99;
    border-right-color:#046b99;
    border-top-color:#046b99;
  }

   /* Font size for header of boxes - h4 */
  .tab-content .tab-pane .box.box-primary .box-header {
   font-size: 21px;
   font-weight: 600;
   padding-bottom: 5px;
  }

   /* Font size for body of boxes - p */
  .tab-content .tab-pane .box.box-primary .box-body {
   font-size: 14px;
   font-weight: normal;
   color: black;
   padding-top: 5px;
  }

    /*Warning boxes*/
    .box.box-solid.box-warning>.box-header {
    color:white;
    background:#f39c12;
}

  .box.box-solid.box-warning>.box-header .btn{
    background:#f39c12 !important;
  }

   /* Font size for header of wells - h4 */
    .tab-content .tab-pane .well .row.results-header {
    font-size: 21px;
    font-weight: 600;
    padding-bottom: 5px;
  }

   /* Font size for body of wells - p */
    .tab-content .tab-pane .well .row.results-body {
    font-size: 14px;
    font-weight: normal;
    color: black;
  }

    .tab-content .tab-pane .well .results-details {
    font-size: 14px;
    font-weight: normal;
    color: black;
    border-top:1px solid rgb(241, 241, 241);
    padding-left:12px;
  }

/* Body filters title font - 18F p*/
  .tab-content .tab-pane .control-label {
                color: black;
                font-size: 14px;
                font-weight: normal;
             }

/* Body filters display font - 18F p*/
   .tab-content .tab-pane .selectize-input{
            color: black;
            font-size: 14px;
            font-weight: normal;
            background-color: #f1f1f1;
            }

/* Body filters dropdown font - 18F p*/
   .tab-content .tab-pane .selectize-dropdown{
            color: black;
            font-size: 14px;
            font-weight: normal;
            background-color: white;
            }

/* Body filters dropdown hover - 18F p*/
  .tab-content .tab-pane .selectize-dropdown .active{
            color: black;
            font-size: 14px;
            font-weight: normal;
            background-color: #f1f1f1;
            }

/* DataTables text default size and weight - 18F p*/

 .tab-content .tab-pane .dataTables_wrapper{
    font-size: 14px;
    font-weight: normal;
  }

   .card .avatar {
    background: #E0E0E0 !important;
    color: black !important;
    border: 0px;
    border-radius:0px;
  }
  .card {
    background-color: #E0E0E0 !important;
    font: white !important;
  }

  /*Slider selection on Sidebar */
  .irs-grid-text {
    color: white !important;
  }

 .irs-grid-pol {
    background-color: white !important;
}
/****************************** Font Style and Sizes ******************************/
  /* font - 18F Helvetica */
  .sansserif {
    font-family: Helvetica, sans-serif;
  }


  h1 {
    font-size: 34px;
    font-weight: 600;
  }

  h2 {
    font-size: 26px;
    font-weight: 600;
  }

  h3 {
    font-size: 18px;
    font-weight: 600;
    margin-top:0px;
  }

  h4 {
    font-size: 17px;
    font-weight: 600;
  }

  h5 {
    font-size: 16px;
    font-weight: 600;
  }


/****************************** Objects ******************************/
  /* align text to center */
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }

  /* hyperlink color - 18F medium blue*/
  a {
    color:#046b99;
  }

  /* hyperlink hover color - 18F medium hover blue*/
  a:hover {
    color:#034c6d;
  }

  /* Style for scrollbar */
  ::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
  }

  /* Style for the scrolling part of the scrolbar  */
  ::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .5);
    box-shadow: 0 0 1px rgba(255, 255, 255, .5);
  }


  /* medium button w/ white background (for preview buttons) */
  .btn-18f-medium {
    color: #046b99;
    font-size: 14px;
    background: none;
    padding: 0;
    border: none;
  }
   /* medium button w/ white background (for preview buttons) - hover */
  .btn-18f-medium:hover {
    color: #034c6d;
    font-size: 14px;
    background: none;
    padding: 0;
    border: none;
  }

  /* dark button - 18F medium */
  .btn-18f-dark {
    background-color:#046b99;
    color:white;
    font-size: 14px;
  }

  /* dark button hover - 18F medium hover */
  .btn-18f-dark:hover {
    background-color:#034c6d;
    color:white;
    font-size: 14px;
  }

  /* sidebar dark button hover */
    .btn-18f-side {
    background-color:#034c6d;
    color:white;
    border: none;
    font-size: 14px;
  }
  /* sidebar dark button -  hover */
  .btn-18f-side:hover {
    background-color:white;
    color:#034c6d;
    border: none;
    font-size: 14px;
  }
    /* sidebar dark button  - selected */
   .btn-18f-side:focus {
    background-color: white;
    color:#034c6d;
    border: none;
  }


  /* light button - 18F medium */
  .btn-18f-light {
    background-color:#046b99;
    color:white;
    font-size: 14px;
  }

  /* light button hover - 18F medium hover */
  .btn-18f-light:hover {
    background-color:#034c6d;
    color:white;
    font-size: 14px;
  }


/* tooltips - white background and black outline and text */
  .tooltip-inner {
    background-color: white;
    color: black;
    font-size: 14px;
    border: 1px solid black;
  }

  /* light button in main tab pane - 18F medium*/
   .tab-content .tab-pane .btn{
            color: white;
            font-size: 14px;
            font-weight: normal;
            background-color: #046b99;
            }


/* light button hover in main tab pane - 18F medium hover*/
   .tab-content .tab-pane .btn:hover {
            color: white;
            font-size: 14px;
            font-weight: normal;
            background-color: #034c6d;
            }

   .tab-content .tab-pane .btn-18f-selected {
            color: white;
            font-size: 14px;
            font-weight: normal;
            background-color: #034c6d;
            }
    .tab-content .tab-pane .btn-default.active{
            color: white;
            font-size: 14px;
            font-weight: normal;
            background-color: #034c6d;
            }

/*Dropdown menu in main pane for pickerInput style */
  .tab-content .tab-pane .dropdown-toggle {
    background-color: #f1f1f1;
    color: black;
  }
    .tab-content .tab-pane .dropdown-toggle:hover {
    background-color: #f1f1f1;
     color: black;
  }
    .tab-content .tab-pane .dropdown-menu .inner {
    font-size: 14px;
  }
    .tab-content .tab-pane .dropdown-menu .li .a:hover {
        font-size: 14px;
        background-color: #f1f1f1 !important;
  }

     .dropdown-menu li a {
        font-size: 14px;
        color: black;
  }
      .tab-content .tab-pane .dropdown-menu .active {
        font-size: 14px;
        background-color: white;
        color: #777;
  }
      .tab-content .tab-pane .dropdown-menu .active:hover {
        font-size: 14px;
        background-color:  #f1f1f1;
  }

  /*Leaflet options*/
  .leaflet-top, .leaflet-bottom {
    z-index: unset !important;
  }

  .leaflet-touch .leaflet-control-layers .leaflet-touch .leaflet-bar {
    z-index: 10000000000 !important;
  }

   .row{
    margin-left: 5px;
    margin-right: 5px;
  }

  .sticky-footer {
    position:fixed;
    bottom:0;
    right:0;
    left:265px;
    background:white;
    padding:10px;
    margin-top: 15px;
    border-top-width: 1px;
    border-top-color: #f1f1f1;
    border-top-style: solid;
  }
